.input-group {
text-transform: none;
width: 100%;
}

input.form-control {
  height:100%;
  text-align: center;
  font-size: 1em;
}


.search-wrapper {
    max-width: 30rem;
    margin: 0 auto;
}

#search-results {
  width: 30rem;
  height: 10rem;
  color: black;
  position: absolute;
  margin: 0;
  list-style-type: none;
  overflow:hidden;
  overflow-y: auto;
}

#search-results ul {
}

#search-results li {
  background: white;
  padding: 0.5625rem 0.625rem;
  // overflow-y: scroll;
  // overflow-x: hidden;
}


#search-results a {
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-weight: $regular;
}
