.input-group {
text-transform: none;
width: 30rem;
}

input.form-control {
  height:100%;
}

#search-results {
  background: white;
  width: 30rem;
  height: 10rem;
  overflow-y: scroll; overflow-x: hidden;
  list-style-type: none;
  border-bottom: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  // padding: 0.5625rem 0.625rem;
  color: black;
  position: absolute;
}


.autocomplete-overall {
  font-size: 2rem;
}

.autocomplete-game {

}

.section-masthead #search-results p {
    font-size: 0.875rem;
    line-height: 1.75rem;
    margin: 0.5rem 0;
    font-weight: 300;
}
