.input-group {
text-transform: none;
width: 100%;
}

input.form-control {
  height:100%;
  text-align: center;
  font-size: 1em;
}


.search-wrapper {
    max-width: 30rem;
    margin: 0 auto;
}

#search-results {
  width: 30rem;
  height: 25rem;
  color: black;
  position: absolute;
  margin: 0;
  list-style-type: none;
  overflow:hidden;
  overflow-y: auto;
}

#search-results ul {
}

#search-results li {
  background: white;
  padding: 0.2rem 0.625rem;
  // padding: 0.5625rem 0.625rem;
}


#search-results a {
    font-size: 0.875rem;
    line-height: 1.75rem;
    font-weight: $regular;
}


#search-results a :hover {
}


#search-results li :hover {

    font-weight: $bold;    -moz-transition: none;
    -webkit-transition: none;
    -o-transition: color 0 ease-in;
    transition: none;
}

.label-search {
    color: #ffffff;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.5;
    margin-bottom: 0;
    border-radius: .2rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    padding: 0.25rem 0.5rem 0.25rem;
}
