.col-1{
    display: inline-block;
    width: 100%;
}

.col-2{
    display: inline-block;
    width: 50%;
}

.col-3{
    display: inline-block;
    width: 33.3333333333%;
}

.col-4{
    display: inline-block;
    width: 25%;
}

.row-2{
    display: inline-block;
    width: 20%;
}
