.wrapper {
    max-width: 62.5rem;
    margin: 0 auto;
}

.smackdowndb-head {
    margin-top: 0;
    padding-bottom: 0;
    background-image: none;
    background-color: $colour-default-dark;
    color: white;
    margin-bottom: 0;
    text-align: left;
}

.section-header.smackdowndb-head  {
  background: url(../img/sddb/sddb-head.jpg) right $colour-default-dark;
  background-size: cover;
  background-repeat: no-repeat;
    margin-bottom: -1px;
}

.section-header-mask {
  margin-bottom: -7px;
  fill: white;
  width: 100%;
}

.section-header .wrapper {
    padding: 5.35em 0;
}

.section-masthead {
    margin: 0 auto 3.5rem;
    text-align: center;
}

.section-masthead h1 {
    margin-top: 2rem;
    font-weight: $bold;
    color: $colour-smackdowndb;
}
.section-masthead p {
    font-size: $base-font-size;
    line-height: 1.75rem;
    margin: 1.5rem 0;
    font-weight: $light;
}

section.explore {
    justify-content: space-around;
}


.explore  .wrapper {
    padding: 1.35em 0;
}

.explore h1 {
    font-size: 18px;
    margin-top: 2rem;
    font-weight: $regular;
}
.explore p {
  font-size: $base-font-size;
  margin: 0.5rem 0;
  font-weight: $regular;
  color: lighten($colour-default-dark, 20%);
}

.explore-content {
  padding: 0 4em;
  border-left: 1px solid lighten($colour-default-dark, 20%);
  border-image: linear-gradient(180deg, rgba(230,230,230,0), #e6e6e6 50%, rgba(230,230,230,0) 100%) 2%;
}

.explore-content:first-child {
  border-left: none;
}

.section-masthead .smackdown-db-outline, .section-masthead .smackdown-db-down {
 fill: $colour-smackdowndb;
}
