@media only screen and (max-width: 1200px) {
  .large-8 {
    width: 100%;
  }

  .medium-4 {
    width: 100%!important;
  }

  .content {
    padding: 1rem 0 0 0rem!important;
  }
}


@media only screen and (max-width: 992px) {

  .navbar-search {
    width: 25rem !important;
  }

  .input-group {
    text-transform: none;
    width: 100%;
    margin: 0;
    padding-top: 15px;
  }

  .search-results {
    width: 22rem !important;
  }

  .wrestler-render {
    width: 25% !important;
  }

  .game-logo img {
    max-width: 25% !important;
    float: right;
  }

}

@media only screen and (max-width: 768px) {
  [class*="col-"], .medium-4{
    width: 100%;
  }

  .columns {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .navbar-brand > svg {
    padding: 0.2em 0 !important;
    margin: 0 !important;
  }

  .input-group {
    text-transform: none;
    width: 100%;
    margin: 0;
    padding-top: 0;
  }

  .navbar-search {
    width: 100% !important;
    margin-bottom: 1em;
  }

  .search-results {
    width: 22rem !important;
  }

  .wrestler-render {
    width: 0 !important;
    display: none;
  }

  .game-logo img {
    max-width: 25% !important;
    float: right;
  }

  .ability-level {
    margin: 0 !important;
    float: none !important;
  }

  .table-head.weight, .table-cell.weight {
    width: 0 !important;
    display: none;
  }

  .table-head.height, .table-cell.height {
    width: 0 !important;
    display: none;
  }

  .table-head.reaction, .table-cell.reaction {
    width: 0 !important;
    display: none;
  }
}
