/* Navigation */

.top-bar {
  background: #282936;
  height: 60px;
}

.top-bar .logo {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.top-bar .logo img{
    margin: 0;
    height: 3.75rem;
    padding: 10px;
    width: auto;
    line-height: 3.75rem;
}
.top-bar-navigation li {
    display: inline-block;
    height: auto;
    margin: 0;
    padding: 0;
}

.top-bar-navigation ul li>a {
    color: #fff;
    font-family: $base-font-family;
    font-size: 1.0625rem;
    font-weight: $regular;
    padding-left: 0.9375rem;
    padding: 12px 0 12px 0.9375rem;
    text-transform: none;
    width: 100%;
  }

.top-bar.expanded .title-area {
    background: $colour-smackdowndb;
}

.top-bar-navigation li:not(.has-form) a:not(.button), .top-bar-section li:not(.has-form) a:not(.button) {
    line-height: 3.75rem;
    padding: 0 0.9375rem;
}

.top-bar-section ul li,.top-bar-section li:not(.has-form) a:not(.button) {
    background: $colour-smackdowndb;
}

/* end */

.side-nav li.heading {
    color: $colour-smackdowndb;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.4375rem 0.875rem;
}

#actions-sidebar {
    background: #fafafa;
}


.side-nav li a:not(.button) {
    color: #323341;
}

.side-nav li a:not(.button):hover {
    color: #303141;
}


.content h3 {
    color: #a2a2a2;
    padding-bottom: 0.5rem;
    margin-bottom: 20px;
}

.content h4 {
    color: #a2a2a2;
    padding-bottom: 0.5rem;
    margin-bottom: 20px;
    border-bottom: 2px solid #a2a2a2;
}

.content .related h4 {
    color: $colour-smackdowndb;
    padding-bottom: 0.5rem;
    /*margin-top: 20px;*/
    margin-top: 0px;
    margin-bottom: 10px;
    border-bottom: 0px;
}


legend {
    color:$colour-smackdowndb
}


table {
    background: #fff;
    margin-bottom: 1.25rem;
    border: none;
    table-layout: fixed;
    width: 100%;
}

tr.inlineblock{
    display: inline-block;
    width: 33.33333%;
}

td.attributePoint {
  float: right;
  margin-top: -40px;
}

table thead {
    background: none;
}

table tr {
    border-bottom: 1px solid #ebebec;
}

table thead tr {
    border-bottom: 1px solid $colour-smackdowndb;
}

table tr th {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    color: #282936;
    text-align: left;
    border-bottom: 2px solid $colour-smackdowndb;
}

table tr:nth-of-type(even) {
    background: none;
}

fieldset {
    border: none;
    padding: 1.25rem;
    margin: 1.125rem 0;
}

fieldset legend {
    border-bottom: 2px solid $colour-smackdowndb;
    width: 100%;
    line-height: 2rem;
}


.vertical-table th {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    color: $colour-smackdowndb;
    border: none;
    text-align: left;
}
