/* top-bar */

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}

.navbar-inverse {
  background-color: darken($colour-default-dark, 10%);
}

/* sub-bar */

.sub-bar {
  background-color: $colour-default-dark;
  height: 35px;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>svg {
  height: 100%;
  padding: 8px;
  width: auto;
}


#smackdown-db-logo {
  fill: white;
}

// #smackdown-db-outline {
// fill: yellow;
// }
//
// #smackdown-db-smack {
// fill: yellow;
// }
//
// #smackdown-db-down {
//   fill: blue;
// }
//
// #smackdown-db-database {
//   fill: green;
// }
