// Colours
$colour-smackdowndb: #467bfb;
$colour-default-dark: #494b5b;
$colour-default-grey: #dcdcdc;

$excellent-attribute: #3A9433;
$good-attribute: #20CD31;
$average-attribute: #ffcc33;
$low-attribute: #FF941F;
$poor-attribute: #DB433E;

$colour-heel-red: #B30F13;
$colour-face-blue: #16ADEC;

$wwe2k17-purple:#4c064f;
$wwe2k17-red: #be0a0d;
$wwe2k17-orange: #f14310;

$colour-header-dark: #181818;


// Platform colours
$colour-ps: #252525;
$colour-ps2: #205992;
$colour-ps4: #003484;

$colour-xbox:#42D041;

$colour-gamecube: #384D87;
$colour-gameboy-adv: #4E67AE;
$colour-wii: #8E8E8E;

$colour-pc-1: #E8D100;
$colour-pc-2: #DDA600;
$colour-pc-3: #F3C300;
$colour-pc-4: #FDBC00;

// Font weights
$light: 300;
$regular: 400;
$bold: 700;

// Base Font
$base-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$base-font-size: 0.875rem;
$base-sub-title-font-size: 1.286rem;
$base-line-height: 1.4;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;

// Range
$range-width: 100%;
$range-handle-color: #323232;
$range-handle-size: 5px;
$range-track-height: 8px;
$range-track-color: #d7dcdf;
$range-label-color: $colour-default-dark;
$range-label-width: 30px;
