// Colours
$colour-smackdowndb: #467bfb;
$colour-default-dark: #494b5b;
$colour-default-grey: #dcdcdc;

$excellent-attribute: #3A9433;
$good-attribute: #20CD31;
$average-attribute: #ffcc33;
$low-attribute: #FF941F;
$poor-attribute: #DB433E;

$colour-heel-red: #B30F13;
$colour-face-blue: #16ADEC;


$colour-header-dark: #181818;


// Font weights
$light: 100;
$regular: 400;
$bold: 600;

// Base Font
$base-font-family: 'Roboto', Helvetica, Arial, sans-serif;
$base-font-weight: $regular;
$base-font-size: 13px;
$base-line-height: 1.4;

// Fixed Font
$fixed-font-family: monospace;
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $bold;

// Slider
$range-width: 100%;
$range-handle-color: #323232;
$range-handle-size: 6px;
$range-track-color: #d7dcdf;
$range-track-height: 8px;
$range-label-color: $colour-default-dark;
$range-label-width: 30px;
