//wrestlersProfile

.label {
  color: #ffffff;
  cursor: pointer;
  font-weight: $regular;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 0;
  border-radius: .2rem;
}

.overall {
  background: $colour-smackdowndb;
}

.attribute {
  background: $colour-smackdowndb;
}

.excellentAttribute {
  background: $excellentAttribute;
}

.goodAttribute {
  background: $goodAttribute;
}

.averageAttribute {
  background: $averageAttribute;
}

.lowAttribute {
  background: $lowAttribute;
}

.poorAttribute {
  background: $poorAttribute;
}

.wrestler-header {
  background-color: #7db9e8;
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, $colour-smackdowndb),color-stop(70%, $colour-header-dark));
  background-image: -moz-linear-gradient(left bottom, $colour-smackdowndb 0%,$colour-header-dark 70%);
  background-image: -webkit-linear-gradient(left bottom, $colour-smackdowndb 0%,$colour-header-dark 70%);
  background-image: linear-gradient(to right top, $colour-smackdowndb 0%,$colour-header-dark 70%);
}

.push-left {
  float: left !important;
}

.wrestler-render {
  padding-top: 10px;
  width: 18%;
  margin-right: 10px;
}

.wrestler-image {
  height: 150px;
  background-size: cover;
  overflow: hidden;
/* hide the cropped portion */
}

.wrestler-info {
  padding-top: 45px;
}

.wrestler-lastname h3 {
  color: #fff;
  font-size: 40px;
  line-height: 35px;
  font-weight: normal;
  text-transform: uppercase;
}

.wrestler-firstname h3 {
  color: #fff;
  float: none;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
}

.wrestler-nickname h3 {
  color: #fff;
  float: none;
  display: block;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}


.wrestler-header-right {
  display: inline-block;
}

.game-logo img {
  max-width: 25%;
}

.personality-slider {
  width:100%;
}

.positive-personality, .negative_name{
  width: 5em;
}

.range-slider {
  // margin: 60px 0 0 0%;
  border: 0;
  margin: 0;
}


// Range Slider
$range-width: 100% !default;

$range-handle-color: $shade-10 !default;
$range-handle-color-hover: $teal !default;
$range-handle-size: 20px !default;

$range-track-color: $shade-1 !default;
$range-track-height: 10px !default;

$range-label-color: $shade-10 !default;
$range-label-width: 60px !default;

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (#{$range-label-width + 13px}));
  height: $range-track-height;
  border-radius: 5px;
  background: linear-gradient(to right, #467bfb 50%, #ff3333 50%);
  outline: none;
  padding: 0;
  margin: 0;

  // Range Handle
  &::-webkit-slider-thumb {
    appearance: none;
    width: $range-handle-size;
    height: $range-handle-size;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active::-webkit-slider-thumb {
    background: $range-handle-color-hover;
  }

  &::-moz-range-thumb {
    width: $range-handle-size;
    height: $range-handle-size;
    border: 0;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;

    &:hover {
      background: $range-handle-color-hover;
    }
  }

  &:active::-moz-range-thumb {
    background: $range-handle-color-hover;
  }
}


// Range Label
.range-slider__value {
  display: inline-block;
  position: relative;
  width: $range-label-width;
  color: $shade-0;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: $range-label-color;
  padding: 5px 10px;
  margin-left: 8px;

  &:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid $range-label-color;
    border-bottom: 7px solid transparent;
    content: '';
  }
}


// Firefox Overrides
::-moz-range-track {
    background: $range-track-color;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

.attributeValue, .skillValue {
  margin-top: -36px;
}

.abilities-image img{
  min-width:50%;
}

.panel {
  padding: 0;
}

.panel-table {
  background: #fff;
  margin-bottom: 0;
  border: none;
  table-layout: fixed;
  width: 100%;
}

#panel-comment {
  background-color: $colour-default-dark;
  border-bottom: 2px solid $colour-smackdowndb !important;
  padding: 10px;
  color: #FFF;
}
