// wrestlersProfile

.label {
    color: #ffffff;
    cursor: pointer;
    font-weight: $regular;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 0;
    border-radius: .2rem;
}

.overall {
  background: $colour-smackdowndb;
}

.attribute {
  background: $colour-smackdowndb;
}

.excellentAttribute {
  background: $excellentAttribute;
}

.goodAttribute {
  background: $goodAttribute;
}

.averageAttribute {
  background: $averageAttribute;
}

.lowAttribute {
  background: $lowAttribute;
}

.poorAttribute {
  background: $poorAttribute;
}

.wrestler-header {
  background-color: #7db9e8;
}

.wrestler-header .wrestler-name {
    color: #fff;
}

.wrestler-render img {
    max-height: 10%;
    overflow: hidden;
}

.wrestler-header-right {
display: inline-block;
}

.game-logo img {
    max-width:  25%;
}

td.float {
  float: right;
}

.attributeValue, .abilityValue, .skillValue  {
  margin-top: -40px;
}

.panel {
    padding: 0;
}

.panel-table {
    background: #fff;
    margin-bottom: 0;
    border: none;
    table-layout: fixed;
    width: 100%;
}

#panel-comment {
    background-color: $colour-default-dark;
    border-bottom: 2px solid $colour-smackdowndb !important;
    padding: 10px;
    color: #FFF;
}
