// wrestlersProfile

.label {
    color: #ffffff;
    cursor: pointer;
    font-weight: $regular;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 0;
    border-radius: .2rem;
}

.overall {
  background: $colour-smackdowndb;
}

.attribute {
  background: $colour-smackdowndb;
}

.excellentAttribute {
  background: $excellentAttribute;
}

.goodAttribute {
  background: $goodAttribute;
}

.averageAttribute {
  background: $averageAttribute;
}

.lowAttribute {
  background: $lowAttribute;
}

.poorAttribute {
  background: $poorAttribute;
}

.wrestler-header {
  background-color: #7db9e8;
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, $colour-smackdowndb),color-stop(70%, $colour-wrestlerHead-dark));
  background-image: -moz-linear-gradient(left bottom, $colour-smackdowndb 0%,$colour-wrestlerHead-dark 70%);
  background-image: -webkit-linear-gradient(left bottom, $colour-smackdowndb 0%,$colour-wrestlerHead-dark 70%);
  background-image: linear-gradient(to right top, $colour-smackdowndb 0%,$colour-wrestlerHead-dark 70%);
}

.wrestler-header .wrestler-name {
    color: #fff;
}

.wrestler-render {

}


.wrestler-render {
  // display: inline-block;
  padding-top: 10px;
  width: 18%;
}

.wrestler-image{
  height: 150px;
  background-size: cover;
  overflow: hidden;
  /* hide the cropped portion */
}

// .wrestler-render img {
//     max-width: 10%;
//     overflow: hidden;
// }

.wrestler-header-right {
display: inline-block;
}

.game-logo img {
    max-width:  25%;
}

td.float {
  float: right;
}

.attributeValue, .abilityValue, .skillValue  {
  margin-top: -36px;
}

.panel {
    padding: 0;
}

.panel-table {
    background: #fff;
    margin-bottom: 0;
    border: none;
    table-layout: fixed;
    width: 100%;
}

#panel-comment {
    background-color: $colour-default-dark;
    border-bottom: 2px solid $colour-smackdowndb !important;
    padding: 10px;
    color: #FFF;
}
