//wrestlersProfile

.label {
  color: #ffffff;
  cursor: pointer;
  font-weight: $regular;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 0;
  border-radius: .2rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.overall {
  background: $colour-smackdowndb;
}

.attribute {
  background: $colour-smackdowndb;
}

.excellent-attribute {
  background: $excellent-attribute;
}

.good-attribute {
  background: $good-attribute;
}

.average-attribute {
  background: $average-attribute;
}

.low-attribute {
  background: $low-attribute;
}

.poor-attribute {
  background: $poor-attribute;
}

.wrestler-header {
  background-color: #7db9e8;
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, $colour-smackdowndb),color-stop(70%, $colour-header-dark));
  background-image: -moz-linear-gradient(left bottom, $colour-smackdowndb 0%,$colour-header-dark 70%);
  background-image: -webkit-linear-gradient(left bottom, $colour-smackdowndb 0%,$colour-header-dark 70%);
  background-image: linear-gradient(to right top, $colour-smackdowndb 0%,$colour-header-dark 70%);
}

.wrestler-render {
  width: 25%;
  margin-right: 10px;
}

.wrestler-image {
  height: 150px;
  background-size: cover;
  overflow: hidden;
  margin-top: -20px;
/* hide the cropped portion */
}

.wrestler-info {
  padding-top: 45px;
}

.wrestler-lastname h3 {
  color: #fff;
  font-size: 40px;
  line-height: 35px;
  font-weight: normal;
  text-transform: uppercase;
  font-weight: bold;
}

.wrestler-firstname h3 {
  color: #fff;
  float: none;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
}

.wrestler-nickname h3 {
  color: #fff;
  float: none;
  display: block;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}


.wrestler-header-right {
  display: inline-block;
}

.game-logo img {
  max-width: 25%;
}


// attributesPoints

.attribute-name {
  padding: 1.071em;
}

.attribute-value{
}


// Wrestler Personality

.personality-slider, .hp-slider {
  width:50%;
  // padding-top: 15px;
}

.positive-personality {
  width: 6em;
}

.personality-range-value {
  margin: 3px 0 ;
  text-align: center;
}

.personality-range-slider__value {
  // width: $range-label-width;
  // color: #fff;
  // text-align: center;
  // border-radius: 3px;
  // background: $range-label-color;
}

.personality-range-slider {
  margin: 5px 0 0;
  border: 0;
}

.personality-range-slider__range {
  -webkit-appearance: none;
  height: $range-track-height;
  border-radius: .2em;
  background: linear-gradient(to right, $colour-face-blue 50%, lighten($poor-attribute, 5%) 50%);
  outline: none;
  padding: 0;
  margin: 0;

  // Range Handle
  &::-webkit-slider-thumb {
    appearance: none;
    width: $range-handle-size;
    height: $range-track-height;
    // border-radius: .2em;
    background: $range-handle-color;
  }

  &::-moz-range-thumb {
    width: $range-handle-size;
    height: $range-handle-size;
    border: 0;
    border-radius: 50%;
    background: $range-handle-color;
  }
}

// Wrestler HP

.wrestler-total-hp {
    background: #fff;
    text-align: center;
    padding: 0.39rem 0;
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100%;
  }

.wrestler-hp-title small {
    font-size: 80%;
    margin: 0;
}

.wrestler-hp-title {
  border-right: 1px solid #d8d8d8;
  padding: 0 0.625rem;
}

.wrestler-hp-total {
  font-weight: bold;
  // font-size: x-large;
  padding: 0 0.625rem;
}

.hp-range-slider {
  margin: 5px 0 ;
  text-align: center;
}

.hp-range-slider__range {
  -webkit-appearance: none;
  height: $range-track-height;
  border-radius: .2em;
  background-color: $colour-smackdowndb;
  outline: none;
  padding: 0;
  margin: 0;

  &::-webkit-slider-thumb {
    appearance: none;
    width: $range-handle-size;
    height: $range-track-height;
    // border-radius: .2em;
    background: $range-handle-color;
  }

  &::-moz-range-thumb {
    width: $range-handle-size;
    height: $range-handle-size;
    border: 0;
    border-radius: 50%;
    background: $range-handle-color;
  }
}


.hp-range-slider__value {
  display: inline-block;
  position: relative;
  width: $range-label-width;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  background: $range-label-color;
}

.abilities-image img{
  min-width:50%;
}
