//wrestlersProfile

.label {
  color: #ffffff;
  font-weight: $regular;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 0;
  border-radius: .2rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.overall, .main-overall {
  background: $colour-smackdowndb;
}

.label.overall {
  color: #ffffff;
  font-weight: 400;
}

.label.main-overall {
  color: #ffffff;
  font-weight: 400;
  font-size: 2rem;
}

.attribute {
  background: $colour-smackdowndb;
}

.excellent-attribute {
  background: $excellent-attribute;
}

.good-attribute {
  background: $good-attribute;
}

.average-attribute {
  background: $average-attribute;
}

.low-attribute {
  background: $low-attribute;
}

.poor-attribute {
  background: $poor-attribute;
}

.wrestler-header {
  background-size: 100%;
  background: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, $colour-smackdowndb),color-stop(70%, $colour-header-dark));
  background: -moz-linear-gradient(left bottom, $colour-smackdowndb 0%,$colour-header-dark 70%);
  background: -webkit-linear-gradient(left bottom, $colour-smackdowndb 0%,$colour-header-dark 70%);
  background: linear-gradient(to right top, $colour-smackdowndb 0%,$colour-header-dark 70%);
  height: 150px;
  overflow: hidden;
}

.wrestler-header.wwe-2k17{
  background-size: cover;
  background-image: url("../img/games/headers/wwe2k17-header.jpg");
}

.wrestler-header.wwe-2k16{
  background-size: cover;
  background-image: url("../img/games/headers/wwe2k16-header.jpg");
}

.wrestler-render {
  width: 20%;
}

.wrestler-overall {
  margin: 3em 1em;
}


.wrestler-info {
  margin: 3em 0em;
}
.wrestler-name {
  padding: 0 0 2.5px;
  line-height: 1;
}


.wrestler-name h3 {
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
    line-height: 1;
}

.wrestler-name small {
  color: #fff;
  float: none;
  display: block;
  font-size: 16px;
  text-transform: uppercase;
}

.wrestler-more small {
  color: #fff;
  float: none;
  display: block;
  font-size: 12px;
  // line-height: 0px;
  text-transform: uppercase;
}

.wrestler-more > small a {
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}

.content-game-header {
  margin: 20px;
}

.game-logo img {
  max-width: 15%;
  float: right;
}


// attributesPoints

.attribute-name {
  padding: 1.071em;
}

// Wrestler Personality

.personality-slider, .hp-slider {
  width:50%;
}

.positive-personality {
  width: 6em;
}

.personality-range-value {
  margin: 3px 0 ;
  text-align: center;
}

.personality-range-slider {
  margin: 5px 0 0;
  border: 0;
}

.personality-range-slider-range {
  -webkit-appearance: none;
  height: $range-track-height;
  border-radius: 10px;
  background: linear-gradient(90deg, $colour-face-blue 50%, lighten($poor-attribute, 5%) 50%);
  background: -webkit-gradient(linear, left top, 0% 100%, 100% 0%, color-stop(50%, $colour-face-blue),color-stop(50%, lighten($poor-attribute, 5%)));
  background: -moz-linear-gradient(0deg, $colour-face-blue 50%, lighten($poor-attribute, 5%) 50%);
  background: -webkit-linear-gradient(0deg, $colour-face-blue 50%, lighten($poor-attribute, 5%) 50%);
  outline: none;
  padding: 0;
  margin: 0;

  // Range Handle
  // &::-webkit-slider-thumb {
  //   width: 14px;
  //   height: 14px;
  //   border: 0;
  //   background: #fff;
  //   border-radius: 100%;
  //   box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
  //   -webkit-appearance: none;
  //   }
  //
  // &::-moz-range-thumb {
  //   width: $range-handle-size;
  //   height: $range-handle-size;
  //   border: 0;
  //   border-radius: 50%;
  //   background: $range-handle-color;
  // }
}

input.personality-range-slider-range[type=range]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}

input.personality-range-slider-range[type=range]::-moz-range-track {
    box-shadow: none;
    border: none;
    background: transparent;
}

input.personality-range-slider-range[type=range]::-moz-focus-outer {
    border: 0;
}

// Wrestler HP

.wrestler-total-hp {
    background: #fff;
    text-align: center;
    padding: 0.39rem 0;
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100%;
  }

.wrestler-hp-title small {
    font-size: 80%;
    margin: 0;
}

.wrestler-hp-title {
  border-right: 1px solid #d8d8d8;
  padding: 0 0.625rem;
}

.wrestler-hp-total {
  font-weight: bold;
  // font-size: x-large;
  padding: 0 0.625rem;
}

.hp-range-slider {
  margin: 5px 0 ;
  text-align: center;
}

input.hp-range-slider-range[type=range] {
    margin: auto;
    outline: none;
    padding: 0;
    height: 8px;
    background-color: $colour-default-grey;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $colour-smackdowndb), color-stop(100%, $colour-smackdowndb));
    background-image: -webkit-linear-gradient($colour-smackdowndb, $colour-smackdowndb);
    background-image: -moz-linear-gradient($colour-smackdowndb, $colour-smackdowndb);
    background-image: -o-linear-gradient($colour-smackdowndb, $colour-smackdowndb);
    background-image: linear-gradient($colour-smackdowndb,$colour-smackdowndb);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    -webkit-appearance: none;
}

input.hp-range-slider-range[type=range]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
    -webkit-appearance: none;
}

input.hp-range-slider-range[type=range]::-moz-range-track {
    box-shadow: none;
    border: none;
    background: transparent;
}

input.hp-range-slider-range[type=range]::-moz-focus-outer {
    border: 0;
}

// input.hp-range-slider-range[type=range]::-webkit-slider-thumb {
    // width: 14px;
    // height: 14px;
    // border: 0;
    // background: #fff;
    // border-radius: 100%;
    // box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
    // -webkit-appearance: none;
// }
//
// input.hp-range-slider-range[type=range]::-moz-range-thumb {
//     width: 14px;
//     height: 14px;
//     border: 0;
//     background: #fff;
//     border-radius: 100%;
//     box-shadow: 0 0 1px 0px rgba(0,0,0,0.1);
// }


// abilities

.abilities-image img{
  max-width: 10%;
}

.abilities-image {
  width: 25em;
}
