// Imports
@import "base";
@import "cake";
@import "myCake";
@import "variables";

// Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Housekeeping
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

a:link {
  cursor: pointer;
  text-decoration: none;
  transition: all ease .2s;
  color: #282936;
}

a:visited {
  cursor: pointer;
  text-decoration: none;
  transition: all ease .2s;
  color: #282936;
  text-align: center;
  padding: 0 20px 0 20px;
}

a:hover {
  cursor: pointer;
  transition: all ease .2s;
}

a:active {
  cursor: pointer;
  transition: all ease .2s;
}

p {
  font-family: 'Roboto', sans-serif;
  letter-spacing: .01em;
  font-weight: 400;
  font-style: normal;
  font-size: 0.85em;
  line-height: 1.7;
  margin: 0 auto;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  margin: 0 auto;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0 auto;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0 auto;
}
